.BuildControls {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    background-color: #0000006e;
    display: flex;
    flex-flow: column;
    align-items: center;
    color: whitesmoke;
    box-sizing: border-box;
}

.OrderButton {
    background-color: #c7310c;
    outline: none;
    cursor: pointer;
    color: white;
    font-family: inherit;
    font-size: 1.2em;
    padding: 15px 30px;
    margin-top: 1rem;
    width: 250px;
    border-radius: 25px;
    border: 0;
}

.OrderButton:hover, .OrderButton:active {
    background-color: #a32505bd;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.OrderButton:disabled {
    background-color: #C7C6C6;
    cursor: not-allowed;
    border: 1px solid #ccc;
    color: #888888;
}

.OrderButton:not(:disabled) {
    animation: enable 0.3s linear;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}